# Build and temporary get eviscerated between builds anyway.
build/
temporary/

# The usual stuff.
.cache/
.claude
**/.DS_Store

# Ignoring agent files, largely just for custom handling of code-style stuff.
CLAUDE.md
AGENTS.md
